*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background: olive;
    color: #fff;
    margin: 0;
}

#container{
    margin:  auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

#search{
    padding: 2.8px;
}

.flex{
    display: flex;
}

.flex input{
    text-align: center;
    font-weight: bold;
}

input,button{
    border: 1px;
    font-size: 14px;
    padding: 8px 10px;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type="text"]{
    width: 300px;
}

.search-btn{
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-radius: 4px;
}

.dish{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin-top: 40px;
}

.card{
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     transition: 0.3s;
     width: 90%;
     height: auto;
     text-align: center;
     border-radius: 6px;
}

.card img{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}

@media(max-width: 800px){
  .dish{
      grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 700px){
    .dish{
        grid-template-columns: repeat(2, 1fr);
    } 
}

@media(max-width: 300px){
   #navbar{
       display: none;
   } 
}

.card2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 350px;
    font-family: arial;
    border-radius: 9px;
    height: auto;
    overflow:hidden;
  }

  .card2 img{
    border-radius: 9px;
    
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }

  .single-food{
    margin:  auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

  .text{
      margin: 20px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 #navbar li {
    float: left;
  }
  
  li p{
    display: block;
    color: mistyrose;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none; 
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
  }

  li a {
    display: block;
    color: midnightblue;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }

  #navbar{
      max-width: 900px;
      margin-left: 200px;
  }

  .icon{
      font-size: 27px;
      font-weight: bold;
  }

  #container h1{
      color: #80008078;
  }

  .card p{
      color: indigo;
      font-weight: bold;
  }

  .card2 h2{
      color: purple;
  }

  .card2 li{
    color: darkgreen;
  }

  .card2 h4{
    color: maroon;
}


